* {
    margin: 0;
    padding: 0;
}

.bg-body-propio {
    background-color: #0A0A0A;
}

.navbar, .nav-link, .navbar-brand {
    font-family: "Cinzel", serif;
}

.nav-link {
    color: white;
    font-size: 30px;
    text-align: center;
}

.nav-link:hover {
    color: goldenrod;
}

.navbar .nav-link.active {
    color: white;
    font-size: 30px;
    text-align: center;
}
.navbar .nav-link.active:hover {
color: goldenrod;
}

