* {
    margin: 0;
    padding: 0;
}

.bg-body-propio {
    background-color: #0A0A0A;
}

.navbar, .nav-link, .navbar-brand {
    font-family: "Cinzel", serif;
}

.nav-link {
    color: white;
    font-size: 30px;
    text-align: center;
}

.nav-link:hover {
    color: goldenrod;
}

.navbar .nav-link.active {
    color: white;
    font-size: 30px;
    text-align: center;
}
.navbar .nav-link.active:hover {
color: goldenrod;
}

h1 {
    font-family: "Cinzel", serif;
    color: #c8a44b;
    font-size: 100px;
    text-align: center;
}

.info-cine {
    background-color: #0d0d0d;
    color: #f1f1f1;
    border: 2px solid goldenrod;
    border-radius: 8px;
    
}

.info-cine h2 {
    font-family: "Cinzel", serif;
        color: goldenrod;
        text-align: center;
    }

.info-cine p {
    font-family: "Cinzel", serif;
    text-align: center;
    font-size: 24px;
    margin: 8px 4px;

}

.footer {
    font-family: "Cinzel", serif;
    color: black;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
}

.card {
    background-color: #1b1b1b;
    color: #c8a44b;
    border: 1px solid #5a452a;
    border-radius: 10px;
}

.card-tittle {
    font-size: 20px;

}

.card-text {
    font-size: 14px;

}

.btn-cine {
    background-color: #c8a44b;
    color: #0A0A0A;

}

.btn-cine:hover {
    background-color: #5a452a;
    color: white;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 20px;
}

.card {
    width: 48%;
    background-color: #111; 
    padding: 20px;
    border-radius: 12px;
    color: white;
}

.card img {
    width: 100%;
    border-radius: 10px;
}